#page
{
  background-color: #d4dddd;
}
.sing-in
{
  margin-left: 25%;
  margin-right: 25%;
}
table.listeLegere {
/*    width:80%;*/
    margin-bottom : 0.5em;
}

/* Tableaux quadrill�s utilis�s pour l'affichage de listes avec contenu l�ger*/ 
table.listeLegere th, table.listeLegere td {
  border : dotted rgb(178,207,81) 0.1em;
  padding:0.5em;
  vertical-align : top;
  text-align : left;
}

table.listeLegere caption {
  font-size : 1.1em;
  text-align : left;
  margin-bottom : 0.3em;
}
table.listeLegere td {
  vertical-align:top;
  font-weight:normal;
}
table.listeLegere th.eltForfait{
  color:black;
}
table.listeLegere th.date, table.listeLegere th.montant{
  width:15%;
  color:black;
}
table.listeLegere th.libelle{
  width:70%;
  color:black;
}

#contenu h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #1D2941;
	text-decoration: none;
	border : 1px solid #6988BE;
	padding-left: 25px;
	background-color: #E9F1FE;
  height : 28px;
}

#contenu img {
  height : 28px;
  float : left;

}

/* CSS Menu */
.list-group-horizontal .list-group-item {
    display: inline-block;
}
.list-group-horizontal .list-group-item {
	margin-bottom: 0;
	margin-left:-4px;
	margin-right: 0;
}
.list-group-horizontal .list-group-item:first-child {
	border-top-right-radius:0;
	border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
	border-top-right-radius:4px;
	border-bottom-left-radius:0;
}
.list-group.list-group-horizontal {
  padding-left: 0;
  margin-bottom: 40px;
  text-align: center;
}
/* CSS Menu */